.navbar-brand{
    background-image: url("../img/icon.png");
    background-size: cover;
    background-position: 100%;
    width: 40px;
    height: 40px;
}
.nav-link{
    color: white;
}
.activo{
    color: rgb(244, 150, 0);
}
header>div>h1{
    font-size: 300%;
}
.card{
    background-color: rgb(44, 33, 19);
}
.btn-primary{
    border-color: black;
}
.card-body>.btn{
    background-color: black;
}
.jumbotron{
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.jumbotronaraña{
    background-image: url("../img/arañabanner.png");
    
}
.dropdown-menu{
    background-color: rgb(56, 55, 55);
    color: whitesmoke  ;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    color: rgb(244, 150, 0);
    background-color: rgba(0, 0, 0, 0.259);
}
.divimagen{
    height: 400px;
}
.imgbichos{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.imgsalticiade{
    background-image: url("../img/salticiade.jpg");
}
.imgmecicobothrioidea{
    background-image: url("../img/mecicobothrioidea.jpg");
}
.imghexathelidae{
    background-image: url("../img/hexathelidae.jpg");
}
.imgdipluridae{
    background-image: url("../img/imgdipluridae.png");
}
.imgnemesiidae{
    background-image: url("../img/imgnemesiidae.jpg");
}
.imgtheraphosoidea{
    background-image: url("../img/imgtheraphosoidea.jpg");
}
.imgbarychelidae{
    background-image: url("../img/imgbarychelidae.png");
}
.imgatypoidea{
    background-image: url("../img/imgatypoidea.jpg");
}
.imgcyrtaucheniidae{
    background-image: url("../img/imcyrtaucheniidae.jpg");
}
.imgidiopidae{
    background-image: url("../img/imgidiopidae.jpg");
}
.imgctenizidae{
    background-image: url("../img/Ctenizidae.jpg");
}
.imgmigoidea{
    background-image: url("../img/Migoidea.png");
}
.imghypochilidae{
    background-image: url("../img/Hypochilidae.jpg");
}
.imgaustrochiloidea{
    background-image: url("../img/Austrochiloidea.jpg");
}
.imgfilistatidae{
    background-image: url("../img/Filistatidae.jpg");
}
.imgscytodoidea{
    background-image: url("../img/Scytodoidea.jpg");
}
.imgleptonetoidea{
    background-image: url("../img/Leptonetoidea.jpg");
}
.imgpholcoidea{
    background-image: url("../img/Pholcoidea.jpg");
}
.imgcaponioidea{
    background-image: url("../img/Caponioidea.jpg");
}
.imgdysderoidea{
    background-image: url("../img/Dysderoidea.jpg");
}
.imgeresoidea{
    background-image: url("../img/Eresoidea.jpg");
}
.imgarchaeoidea{
    background-image: url("../img/Archaeoidea.png");
}
.imgpalpimanoidea{
    background-image: url("../img/Palpimanoidea.jpg");
}
.imgmimetoidea{
    background-image: url("../img/Mimetoidea.jpg");
}
.imguloboroidea{
    background-image: url("../img/Uloboridae.png");
}
.imgaraneoidea{
    background-image: url("../img/Araneoidea.jpg");
}
.imglycosoidea{
    background-image: url("../img/Lycosoidea.jpg");
}
.imgagelenoidea{
    background-image: url("../img/Agelenoidea.jpg");
}
.imgdictynoidea{
    background-image: url("../img/Dictynoidea.png");
}
.imgsparassidae{
    background-image: url("../img/Sparassidae.png");
}
.imgselenopidae{
    background-image: url("../img/Selenopidae.jpg");
}
.imgzodariidae{
    background-image: url("../img/Zodariidae.jpg");
}
.imgtengellidae{
    background-image: url("../img/Tengellidae.jpg");
}
.imgtitanoecoidea{
    background-image: url("../img/Titanoecoidea.jpg");
}
.imggnaphosoidea{
    background-image: url("../img/Gnaphosoidea.jpg");
}
.imgthomisoidea{
    background-image: url("../img/Thomisoidea.png");
}
.imgsalticidae{
    background-image: url("../img/salticiade.jpg");
}
.imgcorinnoidea{
    background-image: url("../img/Corinnoidea.jpg");
}

.imgcryptopidae{
    background-image:url("../img/cryptopidae.jpg") ;
}
.imgplutoniumidae{
    background-image:url("../img/Plutoniumidae.jpg") ;
}
.imgmimopidae{
    background-image: url("../img/Mimopidae.png");
}
.imgscolopendridae{
    background-image:url("../img/Scolopendridae.jpg") ;
}
.imgscolopendrinae{
    background-image:url("../img/Scolopendrinae.jpg") ;
}
.imgotostigminae{
    background-image:url("../img/Otostigminae.png") ;
}
.imgscolopocryptopinae{
    background-image: url("../img/Scolopocryptopinae.jpg");
}
.imgscolopocryptopidae{
    background-image:url("../img/Scolopocryptopidae.jpg") ;
}
.imgnewportiinae{
    background-image:url("../img/Newportiinae.jpg") ;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.justify{
    text-align: justify;
}